.application,
.header-wrap,
.nav-wrap,
.main-wrap,
.footer-wrap,
.login-wrap
{
 	width: 100%;
 	margin: 0 auto;
 }

 .header-wrap
 {
 	background: -webkit-linear-gradient(top, rgba(80,0,25,1) 0%,rgba(104,0,32,1) 100%);
 }

.header,
.nav,
.main,
.footer,
.login
{

	width: 960px; 
	margin: 0 auto;
}

.header 
{
	height: 42px;
}

.article-wrap 
{
	min-height: 1000px;
}

.header-logo
{
	float: left;
	margin-top: 7px;
}

#logo
{
	text-decoration: none;
	font-size: 20px;
	color: white;
	font-family: "Ubuntu Mono";
}

.header-register
{
	float: right;
	margin-top: 12px;
	color: white;
}

#registreeri,
#logiSisse
{
	font-size: 14px;
	text-decoration: none; 
	color: white;
	font-family: "Ubuntu Mono";
}
.nav 
{
	margin-bottom: 80px;
}

.nav-inner 
{
	height: 20px; 
	width: 422px; 
	margin: 0 auto;
}
.nav li 
{
	float: left; 
	list-style: none; 
	padding: 0 7px;
}

.nav li a
{
	text-decoration: none; 
	display: block;
}

.highlights a,
.bigPanel a 
{
	text-decoration:none;
}
.highlights a:visited,
.bigPanel a:visited {color:#000;}
.highlights a:hover,
.bigPanel a:hover{text-decoration:underline;}


.highlightArticle {margin-bottom: 10px;}
.highlightPhoto {max-height: 250px;}

.bigHighlight-img {max-height: 150px;}
.bigMedium-img {max-height: 120px; max-width: 120px;}

#bigHighlight-title,
#bigHighlight-intro,
#bigMedium-title,
#bigMedium-intro {max-width: 240px;}

#articleView-intro,
#articleView-content {max-width: 550px;}
#articleView-intro {font-weight: bold;}


/*.login #loginForm {display: none}*/
.login #loginBox {float:left; margin-top: 40px; margin-bottom: 40px}